:root {
    --color-font:black;
    --color-tileisword: #E1F7BE;
    --color-tiledelete: #EBF5DC;

    --color-tile: #ddf2f0;
    --color-tiledouble: #afe8dd;
    --color-tilewholerow: #60c4b8;
    --color-button: #dae8a0;
    --color-midhead: #a0f1a8;
    --color-midword: #ddf2df;
    --midwidth: 33%;
}
.gamearea{
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 20px, transparent 20px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 20px, transparent 20px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 20px, transparent 20px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 20px, transparent 20px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 20px) no-repeat,
            linear-gradient(228deg, #d0f397 18%, #89f594 50%, #9DF5F0 90%) 93% 45%/111% 112%;

}