* {
    outline: 1px solid red;
    box-sizing: border-box;
}

:root {
    --orange: #f09f59;
    --pink: #f073a9;
    --yellow: #f9ed84;
    --yellow-dark: #dece44;
    --green: #bff578;
    --green-dark: #415403;
    --blue: #8eb5f5;
    --blue-light: #81ebe9;
    --blue-dark: #59b5b4;
    --rice: rgba(245, 244, 240, 0.6);
    --grey: rgb(99, 99, 99);
}

#body-container {
    width: 70vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: var(--orange);
    color: white;
    font-size: 2.8vmin;
}

.bigtitle {
    font-size: 6vmin;
    font-weight: bolder;
    height: 8vh;
    text-align: center;
    background-color: var(--pink);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bigtitle,
.main-content,
.navigation-bar {
    width: 100%;
}

.main-content {
    height: 66vh;
    background-color: var(--blue);
    padding-bottom: 5vmin;
}

.button {
    background-color: var(--blue-light);
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.button:hover {
    background-color: var(--blue-dark);
}

.createboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 52vh;
    width: 70vw;
}

.preview-container {
    border-radius: 12px;
    background-color: var(--green);
    width: 28vw;
    height: 46vh;
    margin: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-item {
    position: absolute;
    max-height: 25vw;
    max-width: 40vh;
}

.preview-item img {
    max-height: 100%;
    max-width: 100%;
}

.components-container {
    max-width: 48vw;
    margin: 5vmin;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    overflow: scroll;
}

.image {
    border-radius: 6px;
    background-color: var(--rice);
    cursor: pointer;
}

.image img {
    width: 8vh;
    height: 8vh;
}

.description {
    max-height: 10vh;
    margin: 5vmin;
    margin-top: 2vmin;
    margin-bottom: 0;
}

.desc-box {
    display: flex;
    flex-direction: row;
    height: 6vh;
    margin-top: vmin;
}

.desc-box .button {
    width: 20vw;
}

.desc-box textarea {
    width: 75%;
}

.desc-box button {
    margin-left: 2vmin;
}

.navigation-bar {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.navigation-bar .button {
    color: var(--grey);
    width: 33.3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.smalltitle {
    padding: 2vmin;
    font-size: 3vmin;
    text-align: center;
}

.center-container {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.input-container input {
    width: 0;
    flex-grow: 1;
}

.input-container,
.logbuttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logbuttons-container .button {
    margin-top: 1vmin;
    width: 49%
}

.logout-container .button {
    width: 14%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.desc-box .button,
.filter-container .button,
.logbuttons-container .button,
.logout-container .button {
    background-color: var(--yellow);
    color: var(--grey);
}

.desc-box .button:hover,
.filter-container .button:hover,
.logbuttons-container .button:hover,
.logout-container .button:hover {
    background-color: var(--yellow-dark);
    color: var(--grey);
}

.filter-container .button .register-msg {
    font-size: 2vmin;
    height: 2vmin;
    white-space: pre;
}


.emojitar-grid {
    display: grid;
    padding: 1vmin;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2vmin;
}
.emojitar-grid-item {
    position: relative;
    padding: 1vmin;
    height: 20vmin;
    background-color: var(--green);
    border-radius: 12px;
    text-align: center;
}
.emojitar-grid-item img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.emojitar-grid-item div {
    color: var(--green-dark);
    border-top: 2px solid var(--green-dark);
    position: absolute;
    bottom: 3vmin;
    left: 0;
    right: 0;
    z-index: 1;
    padding:1vmin;
    padding-bottom: 0;
}