* {
    outline: 1px solid red;
    box-sizing: border-box;
}

:root {
    --orange: #f09f59;
    --pink: #f073a9;
    --yellow: #f9ed84;
    --yellow-dark: #dece44;
    --green: #bff578;
    --blue: #8eb5f5;
    --blue-light: #81ebe9;
    --blue-dark: #59b5b4;
    --rice: rgba(245, 244, 240, 0.6);
}

#body-container {
    width: 80vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: var(--orange);
    color: white;
}

.bigtitle {
    /* font-size: 72px; */
    height: 8vh;
    text-align: center;
    background-color: var(--pink);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bigtitle,
.main-content,
.navigation-bar {
    width: 100%;
}

.main-content {
    height: 66vh;
    background-color: var(--blue);
    padding-bottom: 30px;
}

.button {
    background-color: var(--blue-light);
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.button:hover {
    background-color: var(--blue-dark);
}

.createboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-container {
    border-radius: 12px;
    background-color: var(--green);
    width: 38vw;
    height: 45vh;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-item {
    position: absolute;
}

.preview-item img {
    max-width: 100%;
    max-height: 100%;
}

.components-container {
    /*     flex-grow: 2; */
    width: 38vw;
    margin: 30px;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    overflow: scroll;
}

.image {
    border-radius: 6px;
    background-color: var(--rice);
    cursor: pointer;
}

.image img {
    width: 8vh;
    height: 8vh;
}

.description {
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.desc-box {
    display: flex;
    flex-direction: row;
    height: 6vh;
    margin-top: 10px;
}

.desc-box .button {
    width: 20vw;
    background-color: var(--yellow);
}

.desc-box .button:hover {
    background-color: var(--yellow-dark);
}

.desc-box textarea {
    width: 75%;
}

.desc-box button {
    margin-left: 15px;
    /*     flex-grow: 2; */
}

.navigation-bar {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.navigation-bar .button {
    width: 33.3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.smalltitle {
    padding: 10px;
    font-size: 32px;
    text-align: center;
}

.center-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.center-container input {
    max-width: 100%;
}

.input-container,
.logbuttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logbuttons-container .button {
    margin-top: 10px;
    width: 49%
}

.logout-container {
    display: flex;
    align-items: center;
}

.register-msg {
    height: 16px;
    white-space: pre;
}