<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CS5003-P2-GROUP-K</title>
    <link rel="stylesheet" href="CSS.css">
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        createApp({
            data: function(){
                return {
                selected:'makeYourEmojitar', // The page selected
                viewPage:'all', // The emojitar selected in view-all page
                loggedin:false, // whether the user has logged in
                currentUser:'', // current logged in user (none if not logged in)
                registerMsg:'', // message that will be displayed at me page
                // Store data fetched from server
                faceData:[],
                hairData:[],
                eyesData:[],
                mouthData:[],
                allEmojitars:[],
                parentPath:'CS5003 P2 Resources/',
                // User's inputs about the emojitar or filter
                description:'',
                usercomment:'',
                filterDate:'0000-00-00',
                filterRate:0,
                usernameInput:'',
                passwordInput:'',
                selectedComponents:{'face':'face-yellow.png','hair':'hair-bob-brown.png','eyes':'eyes-smiley.png','mouth':'mouth-grin.png'},
            }},
            methods:{
                // Fetch data from server
                getFace: async function(){
                    try{
                        var resp = await fetch('http://localhost:1123/face_components');
                        var dat = await resp.json();
                    }catch(err){console.log("Error:",err)};
                    this.faceData=dat;
                },
                getHair: async function(){
                    try{
                        var resp = await fetch('http://localhost:1123/hair_components');
                        var dat = await resp.json();
                    }catch(err){console.log("Error:",err)};
                    this.hairData=dat;
                },
                getEyes: async function(){
                    try{
                        var resp = await fetch('http://localhost:1123/eyes_components');
                        var dat = await resp.json();
                    }catch(err){console.log("Error:",err)};
                    this.eyesData=dat;
                },
                getMouth: async function(){
                    try{
                        var resp = await fetch('http://localhost:1123/mouth_components');
                        var dat = await resp.json();
                    }catch(err){console.log("Error:",err)};
                    this.mouthData=dat;
                },
                // Change data 'selectedComponents' when click on different components
                changeSelected: function(typ,fname){
                    this.selectedComponents[typ]=fname;
                },
                // Upload emojitar made with relative information
                submit: async function(){
                    for (let emo in this.allEmojitars){
                        if (this.allEmojitars[emo].face==this.selectedComponents.face
                        & this.allEmojitars[emo].hair==this.selectedComponents.hair
                        & this.allEmojitars[emo].mouth==this.selectedComponents.mouth
                        & this.allEmojitars[emo].eyes==this.selectedComponents.eyes){
                            alert('Emojitar exists!');
                            return;
                        }
                    };
                    if (this.loggedin==false){
                        alert('You have not signed in yet! Go to "ME" page to sign up or sign in!');
                        return;
                    }else if(this.description==''){
                        alert('Description cannot be empty!')
                        return;
                    }else{
                        let today = new Date().toISOString().slice(0, 10);
                        let url = `http://localhost:1123/emojitar/${this.selectedComponents.face}/${this.selectedComponents.hair}/${this.selectedComponents.eyes}/${this.selectedComponents.mouth}/${this.currentUser}/${today}/${this.description}`;
                        try{
                            var resp = await fetch(url,{credentials:'include',withCredentials:true});
                            if (resp.ok){
                                this.loggedin=true;
                                this.description='';
                            };
                            var dat = await resp.json();
                            this.allEmojitars=dat;
                            alert('Submission success!');
                        }catch(err){console.log('Error:',err)};
                        this.usercomment='';}
                },
                // Upload user's comment to specific emojitar
                sendComment: async function(emoid,commentToSend){
                    if (this.loggedin==false){
                        alert('You have not signed in yet! Go to "ME" page to sign up or sign in!');
                        return;
                    }else if(this.currentUser==this.allEmojitars[emoid].creator){
                        alert('You cannot comment on your own emojitar!')
                    }else if(this.usercomment==''){
                        alert('Comment cannot be empty!')
                        return;
                    }else{
                        let date=new Date().toLocaleDateString().replace(/[^apm\d]+/gi, '-');
                        let time=new Date().toLocaleTimeString();
                        let datetime=date+' '+time;
                        let url = `http://localhost:1123/comment/${emoid}/${this.currentUser}/${commentToSend}/${datetime}`;
                        try{
                            var resp = await fetch(url,{credentials:'include',withCredentials:true});
                            if (resp.ok){
                                this.loggedin=true;
                                this.usercomment='';
                            };
                            var dat = await resp.json();
                            this.allEmojitars[emoid].comments=dat;
                        }catch(err){console.log('Error:',err)};}
                },
                // Delete specific emojitar
                deleteEmo: async function(emoid){
                    if (this.loggedin==false){
                        alert('You have not signed in yet! Go to "ME" page to sign up or sign in!');
                        return;
                    }else{
                        if(this.currentUser==this.allEmojitars[emoid].creator){
                            if(window.confirm('You sure you want to delete this emojitar?')){
                                try{
                                var resp = await fetch(`http://localhost:1123/delete/${emoid}`,{credentials:'include',withCredentials:true});
                                var dat = await resp.json();
                                this.allEmojitars=dat;
                                }catch(err){console.log('Error: ',err)};
                                this.viewPage='all';
                            }
                        }else{
                            alert('You cannot delete emojitar created by other user!')
                        }
                    };
                },
                // Send user's rating of specific emojitar
                sendRate: async function(emoid,starnum){
                    if (this.loggedin==false){
                        alert('You have not signed in yet! Go to "ME" page to sign up or sign in!');
                        return;
                    }else if(this.currentUser==this.allEmojitars[emoid].creator){
                        alert('You cannot rate your own emojitar!')
                    }else{
                        let url = `http://localhost:1123/rate/${emoid}/${this.currentUser}/${starnum}`;
                        try{
                            var resp = await fetch(url,{credentials:'include',withCredentials:true});
                            var dat = await resp.json();
                            this.allEmojitars[emoid].rate=dat;
                        }catch(err){console.log('Error:',err)};}
                },
                // Fetch all emojitars from the server
                getAllEmojitars: async function(){
                    try{
                        var resp = await fetch('http://localhost:1123/emojitars');
                        var dat = await resp.json();
                        this.allEmojitars=dat;
                    }catch(err){console.log("Error:",err)};
                },
                // Calculate average rate from the rate list of an emojitar
                averageRate: function(rateList){
                    if (rateList.length==0){
                        return 0
                    };
                    let numlist=[];
                    for (let j in rateList){
                        numlist.push(Object.values(rateList[j])[0])
                    };
                    let sum=0;
                    for (let num in numlist){
                        sum=sum+parseInt(numlist[num])
                    };
                    return (sum/rateList.length)
                },
                // Apply the filter user has chosen
                applyFilter: function(){
                    for (let i=this.allEmojitars.length-1;i>=0;i--){
                        let emoDate=new Date(this.allEmojitars[i].date);
                        let filDate=new Date(this.filterDate);
                        if ((emoDate<filDate)||(this.averageRate(this.allEmojitars[i].rate)<this.filterRate)){
                            this.allEmojitars.splice(i,1)
                        }
                    }
                },
                // Clear the filter user has chosen
                clearFilter: async function(){
                    this.getAllEmojitars();
                    this.filterRate=0;
                },
                // Log user in
                login: async function(){
                    if(this.usernameInput=='' || this.passwordInput==''){
                        alert('Username and password cannot be empty!')
                        return
                    };
                    let user_key = btoa(this.usernameInput+':'+this.passwordInput);
                    this.usernameInput='';
                    this.passwordInput='';
                    try{
                        var resp = await fetch('http://localhost:1123/login',{method: 'GET', headers: { "Authorization" : "Basic " + user_key }});
                        if (resp.status==200){
                            var dat = await resp.json();
                            this.loggedin = true;
                            this.currentUser = dat;
                            this.registerMsg='';
                        };
                        if (resp.status==401){
                            var error = await resp.text();
                            this.registerMsg = error;
                        }}catch(err){
                            console.log('Error: ',err)
                    }
                },
                // Log user out
                logout: function(){
                    this.loggedin=false;
                    this.currentUser='';
                    this.registerMsg='';
                },
                // Register new user
                register: async function(){
                    if(this.usernameInput=='' || this.passwordInput==''){
                        alert('Username and password cannot be empty!')
                        return
                    };
                    try{
                        var resp = await fetch(`http://localhost:1123/register/${this.usernameInput}/${this.passwordInput}`);
                        var dat = await resp.json();
                        if (resp.status==400){
                            this.registerMsg = dat;
                        };
                        if (resp.status==200){
                            this.loggedin = true;
                            this.currentUser = this.usernameInput;
                            this.registerMsg = dat;
                            this.usernameInput='';
                            this.passwordInput='';
                        };
                    }catch(err){console.log('Error:',err)};

                }
            },
            // Get data once mounted
            mounted: function(){
                this.getFace(),
                this.getHair(),
                this.getEyes(),
                this.getMouth(),
                this.getAllEmojitars()
            },
        })
        .mount("#mainframe")
    </script>
</head>

<body>

<div id="mainframe" class="main-frame">

    <!-- The contend at the upper section that changes -->
    <div class="page-frame">

        <!-- Make your emojitar page -->
        <div v-if="selected==='makeYourEmojitar'" >
            <div class="container">

                <div class="preview-container">
                    <div v-for="item in selectedComponents">
                        <img :src="parentPath+item">
                    </div>
                </div>
        
                <div class="components-container">
        
                    <label for="chooseface">Pick a face:</label>
                    <div id="chooseface" class="image-grid">
                        <div v-for="item in faceData" v-on:click="changeSelected('face',item.filename)"  class="image-grid-item">
                            <img :src="parentPath+item.filename">
                        </div>
                    </div>
        
                    <label for="choosehair">Pick a hair:</label>
                    <div id="choosehair" class="image-grid">
                        <div v-for="item in hairData" v-on:click="changeSelected('hair',item.filename)" class="image-grid-item">
                            <img :src="parentPath+item.filename">
                        </div>
                    </div>
        
                    <label for="chooseeyes">Pick an eye:</label>
                    <div id="chooseeyes" class="image-grid">
                        <div v-for="item in eyesData" v-on:click="changeSelected('eyes',item.filename)" class="image-grid-item">
                            <img :src="parentPath+item.filename">
                        </div>
                    </div>
        
                    <label for="choosemouth">Pick a mouth:</label>
                    <div id="choosemouth" class="image-grid">
                        <div v-for="item in mouthData" v-on:click="changeSelected('mouth',item.filename)" class="image-grid-item">
                            <img :src="parentPath+item.filename">
                        </div>
                    </div>
                </div>
            </div>

            <div class="descrip-frame">
                <span>
                    <label for="descrip">Enter your description: </label>
                    <input id="descrip" type="text" v-model="description"/>
                </span>
                <span>
                    <button v-on:click="submit">SUBMIT!</button>
                </span>
            </div>
        </div>

        <!-- View all emojitar page -->
        <div v-if="selected=='viewAllEmojitars'" class="view-page">

            <div v-if="viewPage=='all'">
                <div class="filter-frame">
                    <form id="rateForm">
                        <label for="rateForm">view only those with rate &gt;=: </label>
                        <input type="radio" name="rateOption" value=1 v-model="filterRate">1
                        <input type="radio" name="rateOption" value=2 v-model="filterRate">2
                        <input type="radio" name="rateOption" value=3 v-model="filterRate">3
                        <input type="radio" name="rateOption" value=4 v-model="filterRate">4
                        <input type="radio" name="rateOption" value=5 v-model="filterRate">5
                    </form>
                    <label for="dateForm">view only those created after: </label>
                    <input type="date" id="dateForm" name="dateOption" v-model="filterDate">
                    <button v-on:click="applyFilter">APPLY</button>
                    <button v-on:click="clearFilter" >CLEAR</button>
                </div>
                <div class="emojitar-grid">
                    <div v-for="item in allEmojitars" class="emojitar-grid-item">
                        <img :src="parentPath+item.face" v-on:click="viewPage=item.id">
                        <img :src="parentPath+item.hair" v-on:click="viewPage=item.id">
                        <img :src="parentPath+item.eyes" v-on:click="viewPage=item.id">
                        <img :src="parentPath+item.mouth" v-on:click="viewPage=item.id">
                        <div>
                            <span style="float:left">{{item.creator}}</span>
                            <span style="float:right">{{averageRate(item.rate)}}</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div v-for="item in allEmojitars">
                <div v-if="viewPage==item.id" class="container">
                    <div class="preview-container">
                        <img :src="parentPath+item.face">
                        <img :src="parentPath+item.hair">
                        <img :src="parentPath+item.eyes">
                        <img :src="parentPath+item.mouth">
                    </div>
                    <div class="components-container">
                        <p id="emo-info">Created by {{item.creator}} on {{item.date}}.<br>{{averageRate(item.rate)}} out of 5 rated by {{item.rate.length}} people.
                        <br><br>Creator's description: <br>{{item.description}} </p>
                        <button v-on:click="viewPage='all'" id="back-button">Back</button>
                        <button v-on:click="deleteEmo(item.id)" id="delete-button">Delete</button>
                    </div>
                </div>
                <div v-if="viewPage==item.id" class="comment-area">
                    <div id="comments-left">
                        <p>Comments:</p>
                        <dl>
                            <template v-for="comm in item.comments">
                                <dt>{{comm.info}}</dt>
                                <dd>{{comm.contend}}</dd>
                            </template>
                        </dl>
                    </div>
                    <div id=comments-right>
                        <label for="rate-buttons">Rate this emojitar:</label>
                        <div id="rate-buttons">
                            <button v-on:click="sendRate(item.id,1)">1</button>
                            <button v-on:click="sendRate(item.id,2)">2</button>
                            <button v-on:click="sendRate(item.id,3)">3</button>
                            <button v-on:click="sendRate(item.id,4)">4</button>
                            <button v-on:click="sendRate(item.id,5)">5</button>
                        </div>
                        <div id="write-comment">
                            <label for="commentinput">Enter your comment:</label>
                            <input id="commentinput" type="text" v-model="usercomment"/>
                            <button v-on:click="sendComment(item.id,usercomment)" id="send-button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Me (sign-up and log-in) page -->
        <div v-if="selected=='me'" class="me-page">
            <div v-if="loggedin==false" class="log-false">
                <h1>SIGN UP OR LOG IN HERE!</h1>
                <div>
                    <label for="username-input">Username:</label>
                    <input id="username-input" type="text" v-model="usernameInput"/>
                </div>
                <div>
                    <label for="password-input">Password:</label>
                    <input id="password-input" type="password" v-model="passwordInput"/>
                </div>
                <div id="log-buttons">
                    <button v-on:click="login" id="login-button">LOG-IN</button>
                    <button v-on:click="register" id="signup-button">SIGN-UP</button>
                    <p v-if="registerMsg!=''">{{registerMsg}}</p>
                </div>
                
            </div>
            <div v-if="loggedin==true" class="log-true">
                <p v-if="registerMsg!=''">{{registerMsg}}</p>
                <h1>Welcome to Emojitar, {{currentUser}}!</h1>
                <button v-on:click="logout" id="logout-button">LOG-OUT</button>
            </div>
    
        </div>

    </div>

    <!-- The bottom buttons at the lower section that controlls contend change above -->
    <div class="bottom-container">
        <button v-on:click="selected='makeYourEmojitar'">MAKE YOUR EMOJITAR</button>
        <button v-on:click="selected='viewAllEmojitars',viewPage='all'">VIEW ALL EMOJITARS</button>
        <button v-on:click="selected='me'">ME</button>
    </div>
    
</div>

    

</body>

</html>