html {
    position: relative;
    /* Ensure that the pseudo-element is positioned relative to the html element */
    font-family: 'Handjet', cursive;
    color: white;
    font-size: 22px;
}

html::before {
    content: "";
    /* Create a pseudo-element */
    position: fixed;
    /* Position the pseudo-element fixed to cover the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Place the pseudo-element below the content */

    background-size: cover;
    background-image: url(/GuessTheCat/background.jpg);
    background-repeat: repeat;
    /* Tile the background image */
    filter: brightness(0.25);
}

#body-container{
    position: relative;
    height:95vh;
}

.left {
    display: flex;
    flex-direction: column;
}

.option {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    font-size: 42px;
}

.option-col {
    padding-right: 20px;
    width: 20%;
}

.option-col ul {
    padding: 0;
    margin-top: 15px;
}

.right-label {
    margin-top:5px;
    margin-left: 20px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.withicon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.paw {
    visibility: hidden;
}

.withicon:hover .paw {
    visibility: visible;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

#right {
    transition: all 0.2s ease-in-out;
    font-size: 36px;
    width: 60%;
}

.game,
.menu {
    margin: 20px;
    position: relative;
}

.instruction,
.leaderboard {
    position: absolute;
    color: black;
    background-color: lightgray;
    width: 40%;
    max-height: 40%;
    top: 30%;
    left: 30%;
    z-index: 99;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.button-container {
    position: absolute;
    display: flex;
    right: 20px;
    top: 30px;
}

.button {
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    margin: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;
    margin-top: 30px;
    margin-bottom: 40px;
}

.line,
.question-container {
    display: flex;
    justify-content: space-between;
}

.hint {
    text-decoration: underline;
    cursor: pointer;
}


.catcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

.card {
    height: 42vh;
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
}

.cardpic {
    width: 100%;
    height: 60%;
    background-image: url('noimage.jpg');
    background-size: cover;
    background-position: center;
}

.cardname {
    width: 100%;
    height: 15%;
}

.cardchar {
    width: 100%;
    height: 25%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; */
}

.correct {
    /* green */
}

.incorrect {
    /* red */
    pointer-events: none;
}

table {
    text-align: left;
    width: 100%;
}

th {
    width: 40%;
}

td {
    width: 15%;
}

.smalltitle {
    font-size: 36px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

[v-cloak] {
    display: none;
}


.back {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 42px;
    width: 50%;
}

.logo {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.logo div {
    transform: scale(200%);
    margin-bottom: -10px;
}

.label {
    transition: all 0.5s ease-in-out;
    margin-left: 26px;
    opacity: 0;
    font-size:32px;
}

.logo:hover+.label {
    display: block;
    opacity: 1;
}

.logo:hover {
    transform: rotate(45deg);
}
