<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vue.css">
    <title>Guess the Cat</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script type="module" src="vue.js"></script>
</head>

<body>
    <div id="body-container">
        <div class="back">
            <div class="logo" onclick="window.location.href = 'https://yukijunx.github.io/';">
                <div><span class="material-symbols-outlined">pet_supplies</span></div>
            </div>
            <span class="label">Back to my personal page!</span>
        </div>

        <div class="title">
            GUESS THE CAT
        </div>

        <div class="leaderboard" v-cloak v-if="leaderboard">
            <div v-on:click="leaderboard = !leaderboard"><span class="close material-symbols-outlined">close</span>
            </div>
            <div class="smalltitle">Leaderboard</div>
            <table>
                <tr>
                    <th>Number of Breeds</th>
                    <td :class="{highscoreclass: highscore[0]}">4</td>
                    <td :class="{highscoreclass: highscore[1]}">8</td>
                    <td :class="{highscoreclass: highscore[2]}">12</td>
                    <td :class="{highscoreclass: highscore[3]}">16</td>
                </tr>
                <tr>
                    <th>Best Score</th>
                    <td :class="{highscoreclass: highscore[0]}">{{record[0]}}</td>
                    <td :class="{highscoreclass: highscore[1]}">{{record[1]}}</td>
                    <td :class="{highscoreclass: highscore[2]}">{{record[2]}}</td>
                    <td :class="{highscoreclass: highscore[3]}">{{record[3]}}</td>
                </tr>
            </table>
            <div>
                <button v-on:click="postRecord('/')">clear record</button>
                <button v-show="gameover" v-on:click="gamepage=false leaderboard=false">main menu</button>
                <button v-show="gameover" v-on:click="newGameButton()">new game</button>
            </div>
        </div>

        <div class="instruction" v-cloak v-if="instruction">
            <div class="close" v-on:click="instruction = !instruction">
                <span class="material-symbols-outlined">close</span>
            </div>
            <div>Welcome to "Guess the Cat!" Here's how to play:</div>
            <div>
                <h3>Objective:</h3>
                <p>Guess the cat breed I'm thinking of based on provided temperaments.</p>
            </div>
            <div>
                <h3>How to Play:</h3>
                <p>Based on the difficulty level chosen, 4, 8, 12, or 16 breeds card are shown.<br>
                    Each card shows the temperaments of the breed.<br>
                    Ask questions about temperaments of the breed I'm thinking of to narrow down options.<br>
                    Guess the breed based on the information.<br>
                    Use hints if needed, but no leaderboard entry.<br>
                    Score = Questions + Guesses + Hints used <em>(lower is better!)</em></p>
            </div>
            <div>
                <h3>Tips:</h3>
                <p>Read temperaments carefully for clues.<br>
                    Ask smart questions to eliminate breeds.<br>
                    Think logically to guess accurately.</p>
            </div>
        </div>

        <div class="menu" v-cloak v-if="!gamepage">
            <div class="option-col left">
                <div class="option withicon" @mouseenter="enterAreanewgame()" @mouseleave="leaveAreanewgame()">
                    <span class="paw material-symbols-outlined">pets</span>
                    <div>New Game</div>
                </div>
                <div class="option withicon">
                    <span class="paw material-symbols-outlined">pets</span>
                    <div v-on:click="leaderboard = !leaderboard">Leaderboard</div>
                </div>
            </div>

            <div class="option-col" id="right" :class='{hide: !(area_newgame || area_pickdiff)}'
                @mouseenter="enterAreapickdiff()" @mouseleave="leaveAreapickdiff()">
                <div class="right-label">Pick the number of breeds to guess from:</div>
                <ul>
                    <li class="withicon">
                        <span class="paw material-symbols-outlined">pets</span>
                        <div class="numoption"
                            v-on:click="selectedNum=4; area_newgame=false; area_pickdiff=false; newGameButton()">4</div>
                    </li>
                    <li class="withicon">
                        <span class="paw material-symbols-outlined">pets</span>
                        <div class="numoption"
                            v-on:click="selectedNum=8; area_newgame=false; area_pickdiff=false; newGameButton()">8</div>
                    </li>
                    <li class="withicon">
                        <span class="paw material-symbols-outlined">pets</span>
                        <div class="numoption"
                            v-on:click="selectedNum=12; area_newgame=false; area_pickdiff=false; newGameButton()">12
                        </div>
                    </li>
                    <li class="withicon">
                        <span class="paw material-symbols-outlined">pets</span>
                        <div class="numoption"
                            v-on:click="selectedNum=16; area_newgame=false; area_pickdiff=false; newGameButton()">16
                        </div>
                    </li>
                </ul>
            </div>

        </div>



        <div class="button-container" v-cloak v-if="gamepage">
            <div class="button" v-on:click="backtomenu()"><span class="material-symbols-outlined">undo</span></div>
            <div class="button" v-on:click="leaderboard = true"><span
                    class="material-symbols-outlined">leaderboard</span></div>
            <div class="button" v-on:click="instruction = true"><span class="material-symbols-outlined">help</span>
            </div>
        </div>

        <div class="game" v-cloak v-if="gamepage">
            <div class="line">
                <div>My cat is one of the following breeds...</div>
                <div class="hint" v-on:click="hintButton()">Give me a hint!</div>
            </div>
            <div class="catcards">
                <div v-for="(breed, i) in BreedsStore" class="card" :key="i" :id="IdStore[i]"
                    :class="{ correct: rightClass.includes(breed), incorrect: wrongClass.includes(breed) }"
                    v-on:click="cardButton(IdStore[i])">
                    <div class="cardpic" :style="{ backgroundImage: 'url(' + ImgStore[i] + ')' }"></div>
                    <div class="cardname smalltitle">{{BreedsStore[i]}}</div>
                    <div class="cardchar">
                        <div>{{TempeStore[i]}}</div>
                    </div>
                </div>
            </div>
            <div class="question-container">
                <div class="question-left">Ask questions...</div>
                <div class="question-right">
                    Is your cat
                    <select v-model="selectedChar">
                        <option v-for="(option, i) in TempeOpt">{{ option }}</option>
                    </select>
                    <button v-on:click="askButton()">Ask</button>
                </div>
            </div>
            <div class="question-container">
                <div class="question-left">Make a guess...</div>
                <div class="question-right">
                    I think your cat is
                    <select v-model="selectedBreed">
                        <option v-for="(option, i) in BreedsStore">{{ option }}</option>
                    </select>
                    <button v-on:click="guessButton">Guess</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>